Kaggleface/*.jpg
Kaggleface/face/*.jpg
Kaggleface/nose/*.jpg
Kaggleface/mouth/*.jpg
Kaggleface/righteye/*.jpg
Kaggleface/lefteye/*.jpg
Kaggleface/*.png
Kaggleface/face/*.png
Kaggleface/nose/*.png
Kaggleface/mouth/*.png
Kaggleface/righteye/*.png
Kaggleface/lefteye/*.png

UTKface/*.jpg
UTKface/face/*.jpg
UTKface/nose/*.jpg
UTKface/mouth/*.jpg
UTKface/righteye/*.jpg
UTKface/lefteye/*.jpg
UTKface/*.png
UTKface/face/*.png
UTKface/nose/*.png
UTKface/mouth/*.png
UTKface/righteye/*.png
UTKface/lefteye/*.png